#test-console-container
{
    margin-top: 15px;
}

#testclass
{
    width: 50%;
}

.testconsole-test
{
    background-color: green;
    border: #a9a9a9 solid 2px;
}
.choose-plugin-link
{
    vertical-align: middle;
    line-height: 22px;
}
.play-test-icon {
    background: url(images/ic_play.png) no-repeat;
    background-position: center;
}


.stop-test-icon {
    background: url(images/ic_stop.png) no-repeat;
    background-position: center;
}

.testSpinner {
    vertical-align: middle;
    text-align: center;
    width: 31px;
    height: 25px;
}

.result-passed-count-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background: url(images/msg_success.png) no-repeat;
    vertical-align: middle;
    display: inline-table;
}

.result-passed-count {
    vertical-align: middle;
    display: inline-table;
    color: #14892c;
    font-weight: bold;
}

.result-failed-count-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background: url(images/msg_error.png) no-repeat;
    vertical-align: middle;
    display: inline-table;
}

.result-failed-count {
    vertical-align: middle;
    display: inline-table;
    color: #d04437;
    font-weight: bold;
}

.result-ignored-count-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background: url(images/msg_alert.png) no-repeat;
    vertical-align: middle;
    display: inline-table;
}

.result-ignored-count {
    vertical-align: middle;
    display: inline-table;
    font-weight: bold;
}

.fail-more-link {
    margin-left: 10px;
}

.exceptionContainer {
    display: none;
    margin-bottom: 40px;
}

.tdcenter {
    text-align: center !important;
}

.testClassRow {

}

.testClassRowCollapsed:hover {
    background-color: #EEEEEE !important;
}

.testClassRowExpanded {
    background-color: #ebf2f9 !important;
}

.testClassName {
    cursor: pointer;
    vertical-align: middle;
}

.result-row {
    display: none;
}

.type-toolbar {
    margin-top: 15px;
}


.unRanMethod {

}
.passedMethod {
    margin-bottom: 12px;
}

.ignoredMethod {
    margin-bottom: 12px;
}

.failedMethod {
    margin-bottom: 12px;
}

.failedException {
    margin-bottom: 12px;
}
.stackTrace {
    margin-top:10px;
    margin-bottom : 0px;
    width: 97%;
    height: 200px;
}

.failDivider {
    width:97%;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-top: 8px;
    margin-bottom:10px;

}

/* AUI STUFF */

.aui-lozenge {
    background: #ddd;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 2px 10px 1px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.aui-lozenge-success {
    background-color: #14892c;
    border-color: #14892c;
    color: #fff;
}

.aui-lozenge-error {
    background-color: #d04437;
    border-color: #d04437;
    color: #fff;
}

.aui-lozenge-current {
    background-color: #ffd351;
    border-color: #ffd351;
    color: #594300;
}
.test-console-container-confluence table.aui > thead > tr > th {
    background-color:transparent;
    vertical-align:baseline;
}
.test-console-container-confluence table.aui > thead > tr > th > h5 {
    font-size: 15px;
    line-height: 1.2667;
}
.test-console-main-heading-confluence {
    display:none;
}
.test-console-container-confluence h3 {
    font-size:19px;
    line-height:1.2106;
}

.test-console-container-stash{
    background: white;
    border: 1px solid #BBB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 16px;
    position: relative;
    left:16px;
    width:94%;
}

.test-console-main-heading-stash {
    padding-left:16px;
}
